In [49]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import bz2file as bz2
import pickle

In [50]:
df = pd.read_csv('CropDataset.csv')
df

,N,P,K,S,Fe,Zn,temperature,ph,rainfall,label
0,114,36,34,21,6,12,24.956179,8.101090,281.568586,rice
1,92,39,16,25,4,31,23.331957,7.314633,68.674883,maize
2,67,59,78,13,10,43,18.752991,7.442990,92.089206,chickpea
3,11,58,14,7,7,61,26.405158,7.373532,40.266762,lentil
4,10,14,39,30,3,3,21.095362,6.076303,104.313771,pomegranate
...,...,...,...,...,...,...,...,...,...,...
59995,2,137,201,31,37,32,26.312399,7.470779,66.684250,grapes
59996,40,124,200,37,62,27,24.563893,6.033880,111.952151,apple
59997,10,11,5,38,10,8,8.838381,7.420286,106.249639,orange
59998,127,60,21,7,100,47,24.839025,7.092913,68.320204,cotton
59999,90,58,32,25,1,4,25.270098,6.288272,161.103745,coffee

In [51]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [52]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
score=accuracy_score(y_test,y_pred)

In [53]:
score

0.91825

In [54]:
pickle_out = open("CropRecommendation.pkl","wb")
pickle.dump(rf, pickle_out)
pickle_out.close()

In [55]:
rf.predict([[114,36,34,21,6,12,24.956179,8.101090,281.568586]])

c:\Users\meetm\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['rice'], dtype=object)

In [56]:
def compressed_pickle(title, data):
    with bz2.BZ2File(title + ".pbz2", "w") as f:
        pickle.dump(data, f)

In [57]:
compressed_pickle("Recommendation", rf)